/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* setting to 0 */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

/* setting the variables */
:root{
    --primaryOrange: hsl(35, 77%, 62%);
    --primaryRed: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --grayBlue: hsl(233, 8%, 79%);
    --dark-grayBlue: hsl(236, 13%, 42%);
    --darker-grayBlue: hsl(240, 100%, 5%);
}


body {
    min-height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content wrapper */
.container {
    width:85%;
    height:85vh;
}

/* header setting */
header {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    flex-direction: row;
    height:7vh ;
    width:100%;
    margin-bottom: 2rem;
}
nav a {
    text-decoration: none;
    color: var(--dark-grayBlue);
    font-size: 1.1rem;
    margin-left: 2rem;
    transition:all 0.3s;
    display: inline-block;
}
nav a:hover{
    color:var(--darker-grayBlue);
    transform: scale(1.1);
}

/* main content settings */
main {
    height: calc(78vh - 2rem);
    width:100%;
    display: grid;
    grid-template-columns: calc(60% - 2rem) 40%;
    grid-template-rows:78% 28%  ;
    column-gap: 2rem;
    row-gap: 1rem;
}

/* main article */
.main-article {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#image {
    object-fit: cover;
    width:100%;
    height:100%;
}
.imageContainer {
    width:100%;
    height: 60%;
    overflow: hidden;
}

/* main text */
.text{
    display:flex ;
    flex-direction: row;
    align-items: center;
    height: 40%;
    width:100%;
}
.text h1{
    color:var(--darker-grayBlue);
    font-size:2.5rem ;
    font-weight: 800;
    width:140%;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
}
.btn {
    text-transform: uppercase;
    color: var(--Off-white);
    background-color: var(--primaryRed);
    height: 2.5rem;
    width:11rem;
    border:1px solid black;
    cursor:pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: black;
}

/* new section */
.new {
    background-color: black;
    grid-column:2 / 3 ;
    grid-row: 1 / 2;
}
.wrapper {
    width:90%;
    height: calc(100% - 1rem);
    margin:1rem auto;
}
.wrapper h1 {
    color: var(--primaryOrange);
    font-size: 2.5rem;
}
.articles{
    margin-top:0.8rem;
}
.article-link{
    text-decoration: none;
    color:var(--Off-white);
    font-size: 1.3rem;
    font-weight: 700;
    transition:all 0.3s;
}
.article-link:hover{
    color: var(--primaryOrange);
}
.article-desc{
    color:var(--Off-white);
    opacity: 0.8;
    margin-top: 0.7rem;
    line-height: 1.7rem;
}
hr{
    width : 90%;
    margin:1rem 0;
}
/* down elements */
.down {
    grid-column: 1 / -1;
}
.down-content{
    height:100%;
    display: flex;
    flex-direction: row;
    gap:2%;
}
.downElement{
    width: calc(96% / 3);
    height:100%;
    display: flex;
    flex-direction: row;
}
.img-container{
    width:55%;
    height:95%;
    margin-right: 1rem;
}
.img-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.textElement{
    display: flex;
    justify-content:space-evenly ;
    flex-direction: column;
}
.number {
    font-size: 2rem;
    opacity: 0.5;
}
.title{
    font-size: 1.5em;
    transition:all 0.3s;
    text-decoration: none;
    color:black;
    font-weight: 700;
}
.title:hover{
    color:var(--primaryRed);
}
.responsive {
    display: none;
}
/* tablet fix  */
@media screen and (min-width:960px) and (max-width:1250px){
        main{
            min-height: 200vh;
            grid-template-columns: 100%;
            grid-template-rows:1fr 3fr 1fr   ;
            column-gap: 2rem;
            row-gap: 1rem;
        }
        .new {
            grid-row: 2 / 3;
            grid-column: 1/-1;
        }
        .down{
            grid-row:3/-1;
        }
        .text h1 {
            font-size: 3rem;
            width:70%;
        }
        .articles{
            margin-top: 5rem;
        }
        .wrapper h1 {
            margin-top:5rem;
        }
}
@media screen and (min-width:600px) and (max-width:959px){
        .container{
            min-height: 85vh;
        }
        main{
            min-height: 200vh;
            grid-template-columns: 100%;
            grid-template-rows:1fr 3fr 1fr   ;
            column-gap: 2rem;
            row-gap: 1rem;
        }
       

        .new {
            grid-row: 2 / 3;
            grid-column: 1/-1;
            margin-top:9rem;
            margin-bottom: 3rem;
        }
        .down{
            grid-row:3/-1;
        }
        .text{
            flex-direction: column;
            height: 75%;
        }
        br{
            display: none;
        }
        .text h1 {
            font-size: 3rem;
            /* text-align: center; */
            width:100%;
            padding-top:1rem;
        }
        .btn{
            margin: auto auto;
        }
        .desc{
            padding-top:2rem;
        }
        .articles{
            margin-top: 5rem;
        }
        .wrapper h1 {
            margin-top:5rem;
        }
        .down-content{
            flex-direction: column;
        }
        .downElement{
            width:100%;
        }
        .img-container{
            overflow:hidden;
            width:40%;
        }
        .textElement{
            width:60%;
        }
        .number{
            font-size: 3rem;
        }
        .title{
            font-size: 2.2rem;
        }
        .downDesc{
            font-size: 1.2rem;
        }
        .responsive{
            display: inline-block;
            cursor: pointer;
            font-size: 2rem;
            z-index: 100000;
        }
        .logo{
            z-index:1000000;
        }
        
        nav {
            display: flex;
            flex-direction: column;
            gap:5rem;
            position:absolute;   
            align-items: center;
            left:0;
            margin:0 auto ; 
            background-color: white;
            height:85vh;
            width:100%;
            z-index:100;
            bottom:87vh;
            transition:all 1s;
        }
        nav a {
            font-size: 1.8rem;
        }
        .active {
            bottom: 0;
            margin: 0 auto;
        }
}
@media screen and (min-width:300px) and  (max-width:599px){
    .container{
        min-height: 85vh;
    }
    main{
        min-height: 200vh;
        grid-template-columns: 100%;
        grid-template-rows:1fr 3fr 1fr   ;
        column-gap: 2rem;
        row-gap: 1rem;
    }
    .main-article{
        height:70vh;
    }
    .new {
        grid-row: 2 / 3;
        grid-column: 1/-1;
        margin-top:12rem;
        margin-bottom: 3rem;
    }
    .down{
        grid-row:3/-1;
    }
    .text{
        flex-direction: column;
        height: 75%;
    }
    br{
        display: none;
    }
    .text h1 {
        font-size: 3rem;
        /* text-align: center; */
        width:100%;
        padding-top:1rem;
    }
    .btn{
        margin: auto auto;
    }
    .desc{
        padding-top:2rem;
    }
    .articles{
        margin-top: 5rem;
    }
    .wrapper h1 {
        margin-top:5rem;
    }
    .down-content{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .downElement{
        width:100%;
        margin-bottom: 2rem;
    }
    
    .img-container{
        overflow:hidden;
        width:40%;
    }
    .textElement{
        width:60%;
    }
    .number{
        font-size: 3rem;
    }
    .title{
        font-size: 2.2rem;
    }
    .downDesc{
        font-size: 1.2rem;
    }
    .responsive{
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
        z-index: 100000;
    }
    .logo{
        z-index:1000000;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        gap:5rem;
        position:absolute;   
        align-items: center;
        left:0;
        right:0;
        margin:0 auto ; 
        background-color: white;
        height:85vh;
        width:100%;
        z-index:100;
        bottom:89vh;
        transition:all 1s;
    }
    nav a {
        font-size: 1.8rem;
    }
    .active {
        bottom: 0;
        margin: 0 auto;
    }
}
@media screen and (max-width:299px){
    .container{
        min-height: 85vh;
    }
    main{
        min-height: 200vh;
        grid-template-columns: 100%;
        grid-template-rows:1fr 3fr 1fr   ;
        column-gap: 2rem;
        row-gap: 1rem;
    }
    .main-article{
        height:100vh;
        margin-bottom: 2rem;
    }
    .new {
        grid-row: 2 / 3;
        grid-column: 1/-1;
        margin-top:14rem;
        margin-bottom: 3rem;
    }
    .down{
        grid-row:3/-1;
    }
    .text{
        flex-direction: column;
        height: 75%;
    }
    br{
        display: none;
    }
    .text h1 {
        font-size: 3rem;
        /* text-align: center; */
        width:100%;
        padding-top:1rem;
    }
    .btn{
        margin: auto auto;
    }
    .desc{
        padding-top:2rem;
    }
    .articles{
        margin-top: 5rem;
    }
    .wrapper h1 {
        margin-top:5rem;
    }
    .down-content{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .downElement{
        width:100%;
        margin-bottom: 2rem;
    }
    
    .img-container{
        overflow:hidden;
        width:40%;
    }
    .textElement{
        width:60%;
    }
    .number{
        font-size: 3rem;
    }
    .title{
        font-size: 2.2rem;
    }
    .downDesc{
        font-size: 1.2rem;
    }
    .responsive{
        display: inline-block;
        cursor: pointer;
        font-size: 2rem;
        z-index: 100000;
    }
    .logo{
        z-index:1000000;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        gap:5rem;
        position:absolute;   
        align-items: center;
        left:0;
        right:0;
        margin:0 auto ; 
        background-color: white;
        height:85vh;
        width:100%;
        z-index:100;
        bottom:89vh;
        transition:all 1s;
    }
    nav a {
        font-size: 1.8rem;
    }
    .active {
        bottom: 0;
        margin: 0 auto;
    }
}